<div class="row mb-5 main-container">
  <h1>Analizador de Hongos</h1>
</div>
<div class="row mb-5">
  <div class="col-md-6 offset-md-3 text-center">
      <h5>Para analizar si un hongo es comestible o es venenoso, identificar 
      las características fisionómicas del hongo, y presione enviar.
  </h5>
  </div>

</div>
<div class="row px-5">
  <form [formGroup]="form">
     <select class="selectTag" name="miselect" formControlName="cap_shape">
      <option value="" >Forma de gorra</option>
      <option value="b" >Campana</option>
      <option value="c" >Cónica</option>
      <option value="x" >convexa</option>
      <option value="f" >Plana</option>
      <option value="k" >Nudosa</option>
      <option value="s" >Hundida</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="cap_surface">
      <option value="" >Superficie de gorra</option>
      <option value="f" >Fibrosa</option>
      <option value="g" >Ranuras</option>
      <option value="y" >Escamosa</option>
      <option value="s" >Lisa</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="cap_color">
      <option value="" >Color de gorra</option>
      <option value="n" >Marron</option>
      <option value="b" >Buff</option>
      <option value="c" >Canela</option>
      <option value="g" >Gris</option>
      <option value="r" >Verde</option>
      <option value="p" >Rosa</option>
      <option value="u" >Purpura</option>
      <option value="e" >Rojo</option>
      <option value="w" >Blanco</option>
      <option value="y" >Amarillo</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="bruises">
      <option value="" >Tiene moretones</option>
      <option value="t" >Si</option>
      <option value="f">No</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="odor">
      <option value="" >Olor</option>
      <option value="a" >Almendra</option>
      <option value="l" >Anís</option>
      <option value="c" >Creosota</option>
      <option value="y" >A pescado</option>
      <option value="f" >Mal olor</option>
      <option value="m" >Rancio</option>
      <option value="n" >No tiene olor</option>
      <option value="p" >Amargo</option>
      <option value="s" >Picante</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="gill_attachment">
      <option value="" >Accesorio Branquial</option>
      <option value="a" >Adjunto</option>
      <!-- <option value="d" >Descendente</option> -->
      <option value="f" >Libre</option>
      <!-- <option value="n" >Entallado</option> -->
    </select>

     <select class="selectTag" name="miselect" formControlName="gill_spacing">
      <option value="" >Espaciado Branquial</option>
      <option value="c" >Cerca</option>
      <option value="w" >Hacinamiento</option>
      <!-- <option value="d" >Distante</option> -->
    </select>

     <select class="selectTag" name="miselect" formControlName="gill_size">
      <option value="" >Tamanio branquial</option>
      <option value="b" >Ancho</option>
      <option value="n" >Estrecho</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="gill_color">
      <option value="" >Color branquial</option>
      <option value="k" >Negro</option>
      <option value="n" >Marron</option>
      <option value="b" >Buff</option>
      <option value="h" >Chocolate</option>
      <option value="g" >Gris</option>
      <option value="r" >Verde</option>
      <option value="o" >Naranja</option>
      <option value="p" >Rosa</option>
      <option value="u" >Purpura</option>
      <option value="e" >Roja</option>
      <option value="w" >Blanco</option>
      <option value="y" >Amarillo</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="stalk_shape">
      <option value="" >Forma de tallo</option>
      <option value="e" >Redondeado</option>
      <option value="t" >Afilado</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="stalk_root">
      <option value="" >Tallo de la raiz</option>
      <option value="b" >Bulboso</option>
      <option value="c" >Club</option>
      <!-- <option value="u" >Copa</option> -->
      <option value="e" >Igual</option>
      <!-- <option value="z" >Rizomorfos</option> -->
      <option value="r" >Enraizado</option>
      <option value="?" >Faltante</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="stalk_surface_above_ring">
      <option value="" >Superficie del tallo sobre el anillo</option>
      <option value="f" >Fibroso</option>
      <option value="y" >Escamoso</option>
      <option value="k" >Sedoso</option>
      <option value="s" >Liso</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="stalk_surface_below_ring">
      <option value="" >Superficie del tallo debajo del anillo</option>
      <option value="f" >Fibroso</option>
      <option value="y" >Escamoso</option>
      <option value="k" >Sedoso</option>
      <option value="s" >Liso</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="stalk_color_below_ring">
      <option value="" >Color del tallo debajo del anillo</option>
      <option value="n" >Marron</option>
      <option value="b" >Buff</option>
      <option value="c" >Canela</option>
      <option value="g" >Gris</option>
      <option value="o" >Naranja</option>
      <option value="p" >Rosa</option>
      <option value="e" >Rojo</option>
      <option value="w" >Blanco</option>
      <option value="y" >Amarillo</option>
    </select>


     <select class="selectTag" name="miselect" formControlName="veil_type">
      <option value="" >Tipo de velo</option>
      <option value="p" >Parcial</option>
      <!-- <option value="u" >Universal</option> -->
    </select>

     <select class="selectTag" name="miselect" formControlName="veil_color">
      <option value="" >Color del velo</option>
      <option value="n" >Marron</option>
      <option value="o" >Naranja</option>
      <option value="w" >Blanco</option>
      <option value="y" >Amarillo</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="ring_number">
      <option value="" >Cantidad de anillos</option>
      <option value="n" >Ninguno</option>
      <option value="o" >Uno</option>
      <option value="t" >Dos</option>
    </select>

     <!-- <select class="selectTag" name="miselect" formControlName="ring_type">
      <option value="" >Tipo de anillos</option>
      <option value="n" >Ninguno</option>
      <option value="o" >Uno</option>
      <option value="t" >Dos</option>
    </select> -->

     <select class="selectTag" name="miselect" formControlName="spore_print_color">
      <option value="" >Color de esporas</option>
      <option value="k" >Negro</option>
      <option value="n" >Marron</option>
      <option value="b" >Buff</option>
      <option value="h" >Chocolate</option>
      <option value="r" >Verde</option>
      <option value="o" >Naranja</option>
      <!-- <option value="p" >Purpura</option> -->
      <option value="w" >Blanco</option>
      <option value="y" >Amarillo</option>
      <!-- <option value="u" >Amarillo</option> -->

    </select>

     <select class="selectTag" name="miselect" formControlName="population">
      <option value="" >Población</option>
      <option value="a" >Abundante</option>
      <option value="c" >Agrupada</option>
      <option value="n" >Numerosa</option>
      <option value="s" >Disperso</option>
      <option value="v" >Varios</option>
      <option value="y" >Solitario</option>
    </select>

     <select class="selectTag" name="miselect" formControlName="habitat">
      <option value="" >Hábitat</option>
      <option value="g" >Pastos</option>
      <option value="l" >Hojas</option>
      <option value="m" >Prados</option>
      <option value="p" >Caminos</option>
      <option value="u" >Urbano</option>
      <option value="w" >Residuos</option>
      <option value="d" >Bosques</option>
    </select>
    <div class="row main-container mt-5">
        <button class="btn btn-primary" (click)="sendData()">Enviar</button>
    </div>
  </form>


  <div *ngIf="submitted" class="row mt-5 w-100 main-container">
    <div *ngIf="poisonous" class="card-danger p-5">
      <h1>Es venenoso ! D:</h1>
    </div>
    <div *ngIf="!poisonous" class="card-ok p-5">
      <h1>Podes comerlo ! :D</h1>
    </div>
  </div>
</div>
