.main-container{
    justify-content: center;
}

select{
    padding: 5px 10px 5px 10px;
}

.selectTag{
    margin-bottom:30px!important;
    margin-left:10px;
    margin-right:10px;
}

button{
    width:300px;
}

.card-danger{
    color:white;
    background-color: red;
    border-width:2px;
    border-color:yelow;
    border-radius: 20px;
}

.card-ok{
    color:white;
    background-color: green;
    border-width:2px;
    border-color:yelow;
    border-radius: 20px;
}


